*.class

# Package Files #
*.jar
*.war
*.ear
*.properties
*.form
*.xml

nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

.DS_Store

nbproject/project.properties

nbproject/private/private.properties

nbproject/private/private.properties

nbproject/genfiles.properties

*.xml

*.xml

nbproject/build-impl.xml

build/built-jar.properties

build/built-jar.properties

nbproject/project.xml

nbproject/project.xml

src/META-INF/wsdl/192.168.1.14_8080/PruebaServicioWeb/ServicioWeb1.wsdl

src/META-INF/wsdl/192.168.1.14_8080/PruebaServicioWeb/ServicioWeb1.xsd_1.xsd

xml-resources/web-service-references/ServicioWeb1/wsdl/192.168.1.14_8080/PruebaServicioWeb/ServicioWeb1.wsdl

xml-resources/web-service-references/ServicioWeb1/wsdl/192.168.1.14_8080/PruebaServicioWeb/ServicioWeb1.xsd_1.xsd

build.xml

*.xml
